
:root{
    --black-color: #181818;
    --white-color: white;
}

@keyframes Growth{
    from{
        transform: scaleY(0);
        visibility: hidden;
    }
    to{
        transform: scaleY(1);
        visibility: visible;
    }
}

@keyframes UnGrowth{
    from{
        transform: scaleY(1);
        visibility: visible;
    }
    to{
        transform: scaleY(0);
        visibility: hidden;
    }
}

@keyframes Disappear {
    from{
        visibility: visible;
    }
    to{
        opacity: 0;
    }
}

@keyframes Appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}