
:root{
    --black-color: #181818;
    --white-color: white;
}

@keyframes Growth{
    0%{
        transform: scaleY(0);
        visibility: hidden;
    }
    100%{
        transform: scaleY(1);
        visibility: visible;
    }
}

@keyframes UnGrowth{
    0%{
        transform: scaleY(1);
        visibility: hidden;
    }
    100%{
        transform: scaleY(0);
        visibility: hidden;
    }
}

@keyframes Disappear {
    0%{
        
    }
    100%{
        opacity: 0;
    }
}

@keyframes Appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes Line {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 88%;
        opacity: 1;
    }
}

@keyframes Unline {
    0%{
        width: 88%;
        opacity: 1;
    }
    100%{
        width: 0;
        opacity: 0;
    }
}
